:root {
  --ion-color-primary: #e11d48;
  --ion-color-primary-rgb: 225, 29, 72;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c61a3f;
  --ion-color-primary-tint: #e4345a;
}
